.poke-container {
  display: grid;
  gap: 40px;
  justify-content: center;
  margin-top: 50px;
}
.poke-card {
  display: grid;
  grid-template-columns: repeat(2, minmax(100px, 200px));

  gap: 15px;
  background: #fff;
  box-shadow: 0 0 0 20px #fff;
  border: 10px solid #de5239;
  width: 400px;

  padding: 20px;
  font: 400 30px/1 "VT323", monospace;
}

.poke-img-front {
  grid-column: 1;
  justify-self: stretch;
}
.poke-img-back {
  grid-column: 2;
  justify-self: stretch;
}
.poke-type1,
.poke-type2,
.poke-name {
  color: #333;
  text-transform: capitalize;
  transition: 0.3s ease-in;
}
.poke-type1,
.poke-type2 {
  grid-column: 1;
}
.stats {
  grid-column: 2;
  grid-row: 2/6;

  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}
.poke-hp,
.poke-defense,
.poke-attack {
  position: relative;
  padding: 15px;
  color: #fff;
  text-align: center;
  transition: 0.3s ease-in-out;
}

.poke-hp {
  background: #8b2900;
}
.poke-hp::after {
  position: absolute;
  display: block;
  content: "HP";
  color: #8b2900;
  top: 0;
  left: -40px;
  font: 400 30px/1 "VT323", monospace;
}
.poke-attack {
  background: #de5239;
}
.poke-attack::after {
  position: absolute;
  display: block;
  content: "ATK";
  color: #de5239;
  top: 0;
  left: -50px;
  font: 400 30px/1 "VT323", monospace;
}
.poke-defense {
  background: #08398b;
}
.poke-defense::after {
  position: absolute;
  display: block;
  content: "DF";
  color: #08398b;
  top: 0;
  left: -40px;
  font: 400 30px/1 "VT323", monospace;
}
.btn-container {
  display: flex;
  justify-content: space-between;
}
.btn-container button {
  border: none;
  box-shadow: 5px 5px 0 0 #333;
  background: #de5239;
  color: #fff;
  padding: 10px 20px;

  font: 400 20px/1 "VT323", monospace;
  transition: 0.3s ease-in-out;
}
.btn-container button:hover {
  box-shadow: 2px 2px 0 0 #333;
  background: #8b2900;
}
.hide {
  opacity: 0;
}

/* ESTILO POR TIPO DE POKEMON */
.normal,
.ground,
.fighting,
.flying {
  color: #412918;
}
.fire,
.dragon {
  color: #de5239;
}
.water,
.ice {
  color: #08398b;
}
.grass,
.bug {
  color: #73ac31;
}
.poison,
.psychic,
.fairy {
  color: #944abd;
}
.electric {
  color: #f6bd20;
}
.rock,
.ghost,
.steel {
  color: #6a6a52;
}
.dark {
  color: #333;
}
