@import "./poke-search.css";
@import "./pokemon-api.css";

body {
  background: #ffd57b;
  box-sizing: border-box;
  margin: 0;
}
ul {
  padding: 0;
  list-style: none;
}

header {
  display: flex;
  justify-content: center;
  background: #de5239;
}
header p {
  font: 400 30px/1 "Sigmar One", serif;
  text-transform: uppercase;
  color: #fff;
}
